<h2>Последние посты:</h2>
<br>
<% @result.each do |post| %>
	<p>
		<%= post['content'] %>
		<br>
		Добавлен: <%= post['create_date'] %>
		<br>
		<br>
		<a href="/post/<%= post['id'] %>">Комментарии</a>
	</p>
	<hr/ >
<% end %>