<h2>Новый пост</h2>

<form>
  <div class="form-floating">
    <label for="floatingTextarea2">Описание </label>
    <textarea class="form-control" placeholder="Введите описание" id="floatingTextarea2" style="height: 150px"></textarea>
  </div>
  <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> 